<div class="container-fluid" style="background-color: #fff;">
    <div class="row">
        <div class="col-md-12 mt-5 p-5 text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Discription</th>
                        <th scope="col">Image 1</th>
                        <th scope="col">Image 2</th>
                        <th scope="col">Image 3</th>
                        <th scope="col">Choose Optins</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each pro}}
                    <tr>
                        <td class="pt-5">{{@index}}</td>
                        <td class="pt-5">{{this.pname}}</td>
                        <td class="pt-5">{{this.type}}</td>
                        <td class="pt-5">{{this.qun}}</td>
                        <td class="pt-5">{{this.price}}</td>
                        <td class="pt-5" style="max-width: 200px;">{{this.description}}</td>
                        <td><img src="/adminpro-image/{{this._id}}1.jpg" alt="PRO Image 1"
                                style="height: 200px; width: 200px;"></td>
                        <td><img src="/adminpro-image/{{this._id}}2.jpg" alt="PRO Image 2"
                                style="height: 200px; width: 200px;"></td>
                        <td><img src="/adminpro-image/{{this._id}}3.jpg" alt="PRO Image 3"
                                style="height: 200px; width: 200px;"></td>
                        <td class="pt-5">
                           <a href="/admin/edit?id={{this._id}}" class="btn btn-primary">Edit</a>
                        <a href="/admin/detete?id={{this._id}}" class="btn btn-danger mt-3" onclick="return confirm('Are you sure to delete this product')">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>