<div class="banner img-fluid" style="">
    <div class="top">

    </div>
    <div class="contant">
        <h1 class="title " style="padding: 14px; color: #FFFDD0;">{{pro1.pname}}</h1>
        <div class="buttons">
            <button class="button">{{pro1.price}} ₹</button>
            <button class="button">QUT :{{pro1.qun}}</button>
        </div>
        <h1 class="description">
            {{pro1.description}}
        </h1>
    </div>
    <div class="bottom">

    </div>
</div>
{{#if pro}}
<div class="row">
    <div style="width: 100%;">
        <h2 class="pt-3">Heavy Food</h2>
    </div>

    <div class="posters m-auto img-fluid">
        {{#each pro}}
        <a href="/intopro?id={{this._id}}" class="shade"><img src="/adminpro-image/{{this._id}}2.jpg"
                class="poster m-3 img-fluid" alt="produts"></a>

        {{/each}}
    </div>

</div>
{{/if}}
{{#if pro2}}
<div class="row">
    <div style="width: 100%;">
        <h2 class="pt-3">Snaks</h2>
    </div>

    <div class="posters m-auto">
        {{#each pro2}}
        <a href="/intopro?id={{this._id}}"><img src="/adminpro-image/{{this._id}}1.jpg" class="poster m-3"
                alt="produts"></a>

        {{/each}}
    </div>

</div>
{{/if}}
{{#if pro3}}
<div class="row">
    <div style="width: 100%;">
        <h2 class="pt-3">Carbonate Drinks</h2>
    </div>

    <div class="posters m-auto">
        {{#each pro3}}
        <a href="/intopro?id={{this._id}}"><img src="/adminpro-image/{{this._id}}3.jpg" class="poster m-3"
                alt="produts"></a>

        {{/each}}
    </div>

</div>
{{/if}}
{{#if pro4}}
<div class="row">
    <div style="width: 100%;">
        <h2 class="pt-3">Minaral Water</h2>
    </div>

    <div class="posters m-auto">
        {{#each pro4}}
        <a href="/intopro?id={{this._id}}"><img src="/adminpro-image/{{this._id}}3.jpg" class="poster m-3"
                alt="produts"></a>

        {{/each}}
    </div>

</div>
{{/if}}{{#if pro5}}
<div class="row">
    <div style="width: 100%;">
        <h2 class="pt-3">Candys</h2>
    </div>

    <div class="posters m-auto">
        {{#each pro5}}
        <a href="/intopro?id={{this._id}}"><img src="/adminpro-image/{{this._id}}3.jpg" class="poster m-3"
                alt="produts"></a>

        {{/each}}
    </div>

</div>
{{/if}}
{{#if pro6}}
<div class="row">
    <div style="width: 100%;">
        <h2 class="pt-3">Others</h2>
    </div>

    <div class="posters m-auto">
        {{#each pro6}}
        <a href="/intopro?id={{this._id}}"><img src="/adminpro-image/{{this._id}}3.jpg" class="poster m-3"
                alt="produts"></a>

        {{/each}}
    </div>

</div>
{{/if}}
<footer>
    <div class="footer ">
        <div class="contain">
            <div class="col-md-3 col">
                <h2>Canteen</h2>
                <ul>
                    <li>About us</li>
                    <li> Our Mission</li>
                    <li>Services</li>
                </ul>
            </div>
            <div class="col-md-3 col">
                <h2>Contact</h2>
                <ul>
                    <li>Main Campus 0479-230 4494 </li>
                    <li>Thazhakkara Campus 0479-230 6193</li>
                    <li>Mob -8547005046</li>

                    <li>casmvk@gmail.com</li>
                </ul>
            </div>
            <div class="col address col-md-3">
                <h2>Address </h2>
                <ul>
                    <li>Main Campus- Govt. BHSS, Compound, Mavelikara P O, Alappuzha - 690 101</li>
                    <li>Thazhakkara Campus - Near Dist. Hospital Mavelikkara , Thazhakkara PO,Alappuzha. PIN 690 102 </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>

<style>
    .banner {

        height: 600px;
        color: white;
        width: 100%;
        background-image:url('/adminpro-image/{{pro1._id}}3.jpg');
        background-size: 119rem 50rem;
        background-repeat: no-repeat;

    }

    .contant {
        padding-top: 140px;
        height: 190px;
        padding-left: 15px;
    }

    .title {
        font-size: 3rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
    }

    .button {
        color: white;
        outline: none;
        border: none;
        font-weight: 700;
        border-radius: 5px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: rgba(51, 51, 51, 0.5);
        cursor: pointer;
        margin-right: 1rem;
    }

    button:hover {
        color: black;
        background-color: #e6e6e6;
    }

    .description {
        width: 45rem;
        line-height: 1.3;
        padding-top: 1rem;
        font-size: 1rem;
        height: 80px;
        max-width: 360px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .bottom {
        height: 26.4rem;
        background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, .61), #111);

    }

    .top {
        height: 5.4rem;
        background-image: linear-gradient(0deg, transparent, rgba(37, 37, 37, .61), #111);

    }

    .row {
        margin-left: 20px;
        color: #fff;
        padding: 22px;
    }

    .posters {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .posters::-webkit-scrollbar {
        display: none;
    }

    .poster {
        max-height: 250px;

    }

    .poster:hover {
        transform: scale(1.1);

    }
    {{!-- ///////////////////////////////////////////////////////////////// --}}
    .footer {
  width: 100%;
  background-color: rgba(51, 27, 27, 0.219);
}
.footer .col {
  width: 400px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}
.footer .col h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 17px;
  padding: 10px 0;
  color: #FF0063;
  text-transform: uppercase;
}
.footer .col ul {
  list-style-type: none;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 12px;
  padding: 5px 0px;
}
.address ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  cursor: pointer;
  color: lightgray;
  font-weight: bold;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .address {
    width: 1000px;
    display: block;
  }
  .address h2 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h2 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h2 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}


</style>